@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Config Colors and Fonts */

@font-face {
    font-family: kalameh-regular;
    src: url("../assets/fonts/KalamehWebFaNum-Regular.woff");
    font-weight:400;
}
@font-face {
    font-family: kalameh-regular;
    src: url("../assets/fonts/KalamehWebFaNum-Medium.woff");
    font-weight: 500;
}
@font-face {
    font-family: kalameh-regular;
    src: url("../assets/fonts/KalamehWebFaNum-SemiBold.woff");
    font-weight:600;
}
@font-face {
    font-family: kalameh-regular;
    src: url("../assets/fonts/KalamehWebFaNum-Bold.woff");
    font-weight:700;
}
@font-face {
    font-family: kalameh-regular;
    src: url("../assets/fonts/KalamehWebFaNum-ExtraBold.woff");
    font-weight:900;
}
@font-face {
    font-family: kalameh-regular;
    src: url("../assets/fonts/KalamehWebFaNum-Thin.woff");
    font-weight:200;
}
@font-face {
    font-family: kalameh-regular;
    src: url("../assets/fonts/KalamehWebFaNum-Light.woff");
    font-weight:300;
}

/*@import "/dist/mobiscroll.javascript.min.css";*/





@font-face {
    font-family: kalameh-black;
    src: url("../assets/fonts/KalamehWebFaNum-Black.woff");
}
.font-kalameh{
    font-family: kalameh-regular;
}
body{
    font-family: kalameh-regular;
    direction: rtl;
}

input{
    outline: none !important;
}
.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown) + label ,
select:not([value='']):valid ~ label,
input:focus ~ label,
input:not(:placeholder-shown) ~ label
{
    transform: translateY(-1.5rem) scale(0.75);
    background-color: white;
}
/*.float-label-input:focus-within label,*/
/*.float-label-input input:not(:placeholder-shown) + label {*/
/*    transform: translateY(-1.5rem) scale(0.75);*/
/*    background-color: white;*/
/*}*/
.text-zinc-custom {
    color : #aaaeb7;
}
.parent-logo {
    /*background: rgb(245,255,250);*/
    /*background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(7, 255, 240, 0.04) 24%, rgba(231,255,255,1) 100%);*/
    background: radial-gradient(farthest-corner at top, rgb(255, 255, 255) 0%,rgba(7, 255, 240, 0.04) 24%, rgb(241, 255, 255) 40%);
    /*background: radial-gradient(farthest-corner at bottom, #FFFFFF 0%, #ffb3ff 15%, #ff33ff 25%, #800080 62.5%, rgba(231,255,255,1) 100%));*/
    background-size: 400% 400%;
    /*animation: gradient 15s ease infinite;*/
    flex-grow: 1;
    animation: colorChange 5s infinite alternate linear;
}


@keyframes colorChange {
    from { /* radial-gradient(farthest-corner at top right, ..) */
        background-position:left top;
        background-size:200% 100%;

    }
    49.9% {
        background-position:left top;
    }
    50% { /* radial-gradient(farthest-corner at top center, ..) */
        background-size:100% 100%;
    }
    50.1% {
        background-position:right top;
    }
    to { /* radial-gradient(farthest-corner at top left, ..) */
        background-position:right bottom;
        background-size:200% 100%;
    }
}
/*change gradiant */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.bottom-0-important {
    bottom: 0px ;
}


/*.indicator{*/
/*    !*position: absolute;*!*/
/*    !*top: -50%;*!*/
/*    !*width: 70px;*!*/
/*    !*height: 70px;*!*/
/*    !*background: red;*!*/
/*}*/
/*.indicator::before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    !* border: 1px solid; *!*/
/*    top: 43%;*/
/*    left: -9px;*/
/*    width: 13px;*/
/*    height: 20px;*/
/*    background: #F3F3F3;*/
/*    border-bottom-left-radius: 62px;*/
/*    border-top-right-radius: 47px;*/
/*    box-shadow: 2px 0px 1px 1px #f3f3f3;*/
/*}*/
/*.indicator::after{*/
/*    content: "";*/
/*    position: absolute;*/
/*    !* border: 1px solid; *!*/
/*    top: 40%;*/
/*    !* transform: rotateZ(33deg); *!*/
/*    right: -5px;*/
/*    width: 13px;*/
/*    height: 20px;*/
/*    background: #F3F3F3;*/
/*    border-bottom-right-radius: 62px;*/
/*    border-top-left-radius: 47px;*/
/*    box-shadow: 2px 0px 1px 1px #f3f3f3;*/
/*}*/
    .btn{
     @apply h-btn grid place-items-center bg-blue-500  text-white w-full text-[14px] rounded-md cursor-pointer active:scale-[0.99] active:bg-blue-600
    }
    .border-gray-200-impo{
        border : 1px solid #f3f3f3 !important;
    }
    .text-14px-impo{
        font-size: 14px !important;
                }
.gradiantlogo{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 24%, rgba(255,255,255,0.1657913165266106) 100%);
}